#a1{
    background-color: rgb(109, 62, 0);
    border-radius: 7px;
    color:rgb(255, 255, 255);
    font-family: 'Hammersmith', sans-serif;
    font-size: 18px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    transition-duration: 0.3s;
}
#a2{
    background-color:rgb(109, 62, 0);
    border-radius: 7px;
    color:rgb(255, 255, 255);
    font-family: 'Hammersmith', sans-serif;
    font-size: 18px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    transition-duration: 0.3s;
}
#a1:hover{
    background-color: rgb(109, 62, 0);
    border: 3px solid greenyellow;
    color:rgb(255, 255, 255);
    font-family: 'Hammersmith', sans-serif;
    font-size: 25px;
    padding: 3px;
    text-decoration: none;
}
#a2:hover{
    background-color: rgb(109, 62, 0);
    border: 3px solid greenyellow;
    color:rgb(255, 255, 255);
    font-family: 'Hammersmith', sans-serif;
    font-size: 25px;
    padding: 3px;
    text-decoration: none;
}

